*

!.github/
!.github/**

!docs/
!docs/**

!examples/
!examples/**

!src/
!src/**

!scripts/
!scripts/**

!.vscode/
!.vscode/**

!.gitignore
!deno.json
!deno.jsonc
!deno.lock
!LICENSE
!CHANGELOG.md
!README.md
!mod.ts
