name: CI

on:
  push:
  pull_request:

jobs:
  check:
    uses: ./.github/workflows/check.yml

  test:
    uses: ./.github/workflows/test.yml

  publish-jsr:
    if: github.ref == 'refs/heads/main'
    needs: [check, test]
    uses: ./.github/workflows/publish-jsr.yml
    permissions:
      contents: read
      id-token: write

  publish-npm:
    if: github.ref == 'refs/heads/main'
    needs: [check, test]
    uses: ./.github/workflows/publish-npm.yml
    permissions:
      contents: read
      id-token: write
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
